@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #faa916;
  color: #fbfffe;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #031d44;
  border-radius: 15px;
  width: 80%;
  height: 700px;
  padding: 20px;
}

#gif {
  width: 350px;
}
